@import "tailwindcss";

:root {
  --color-primary: #1D4ED8;
  --color-primary-light: #3B82F6;
  --color-primary-dark: #1E40AF;

  --color-secondary: #D97706;
  --color-secondary-light: #F59E0B;
  --color-secondary-dark: #B45309;

  --color-text: #374151;
  --color-text-light: #6B7280;
  --color-text-dark: #1F2937;

  --color-error: #DC2626;
  --color-error-light: #F87171;
  --color-error-dark: #991B1B;

  --color-info: #2563EB;
  --color-info-light: #60A5FA;
  --color-info-dark: #1E3A8A;

  --color-danger: #B91C1C;
  --color-danger-light: #FCA5A5;
  --color-danger-dark: #7F1D1D;
}

body {
  background: linear-gradient(to bottom right, #eeeeee, #ffffff);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-error {
  color: var(--color-error);
}

.text-info {
  color: var(--color-info);
}

.text-danger {
  color: var(--color-danger);
}
